@page "/task8"
@using Frontend.Entities.ModelView;
@using Frontend.Entities.ModelView;
@using Frontend.Service;
@inject StatisticsService statisticsService;
<h3>task3</h3>

@code {
    private List<TeacherDTO> teachers = new List<TeacherDTO>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            teachers = await statisticsService.GetTeacherByStudentMaxBallFrom97();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}

<MudTable Items="@teachers">
    <HeaderContent>
        <MudTh>#</MudTh>
        <MudTh>FirstName</MudTh>
        <MudTh>LastName</MudTh>
        <MudTh>Email</MudTh>
        <MudTh>Phone</MudTh>
    </HeaderContent>

    <RowTemplate>
        <MudTd>@context.Id</MudTd>
        <MudTd>@context.FirstName</MudTd>
        <MudTd>@context.LastName</MudTd>
        <MudTd>@context.Email</MudTd>
        <MudTd>@context.Phone</MudTd>
    </RowTemplate>

</MudTable>

