@page "/register"
@using System.Net.Http.Json
@using System.Text
@using Frontend.Entities.DTO.User;
@using Frontend.Entities.ModelView;
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.Extensions.Options;
@using global::Entities.DTO.User;


<link href="/css/style.css" rel="stylesheet" />


@code {
    private CreateUserDTO createUser = new CreateUserDTO();
    private UserAuthInfo userAuthInfo;
    private LoginUserDTO loginUser = new LoginUserDTO();

    [Inject]
    private HttpClient httpClient { get; set; }

    [Inject]
    private IOptions<AppSettings> options { get; set; }

    private async Task SignUp()
    {
        var response = await httpClient.PostAsJsonAsync("api/register", createUser);
        response.EnsureSuccessStatusCode();

        userAuthInfo = await response.Content.ReadFromJsonAsync<UserAuthInfo>();
    }

    private async Task SignIn()
    {
        var response = await httpClient.PostAsJsonAsync("api/login", loginUser);
        response.EnsureSuccessStatusCode();

        userAuthInfo = await response.Content.ReadFromJsonAsync<UserAuthInfo>();
    }
}

<EditForm Model="@createUser" OnValidSubmit="SignUp">
    <DataAnnotationsValidator />

    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true">
        <div class="signup">
            <MudForm>
                <label for="chk" aria-hidden="true">Sign up</label>
                <input type="text" name="txt" placeholder="FirstName" @bind="@createUser.FirstName" required="">
                <input type="text" name="lastname" placeholder="LastName" @bind="@createUser.LastName" required="" />
                <input type="email" name="email" placeholder="Email" @bind="@createUser.Email" required="">
                <input type="number" name="phone" placeholder="Phone" @bind="@createUser.PhoneNumber" required="" />
                <input type="password" name="pswd" placeholder="Password" @bind="@createUser.Password" required="">
                <button type="submit">Sign up</button>
            </MudForm>
        </div>

        <div class="login">
            <form>
                <label for="chk" aria-hidden="true">Login</label>
                <input type="number" name="phone" placeholder="Phone Number" @bind="@loginUser.Phone" required="">
                <input type="password" name="pswd" placeholder="Password" @bind="@loginUser.Password" required="">
                <button type="submit">Login</button>
            </form>
        </div>
    </div>


</EditForm>
