@page "/teacher"

@using System.Net.Http.Json
@using BookShopBlazor.Service;
@using Frontend.Entities.ModelView;
@inject StudentService studentService


<ToolBarContent>
    <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" IconSize="Size.Medium" Class="mt-0"></MudTextField>
</ToolBarContent>

<MudTable Filter="new Func<StudentDTO, bool>(FilterFunc)" style="pointer-events: none;">
   
    
        @foreach (var student in Students)
        {
            <tr>
                <td scope="row">
                    @student.Id
                </td>
                <td>
                    @student.FirstName
                </td>
                <td>
                    @student.DateOfBirth
                </td>
                <td>
                    @student.Email
                </td>
                <td>
                    @student.Phone
                </td>
                <td>
                    @student.DateOfBirth
                </td>
                <MudFab Color="Color.Secondary" StartIcon="@Icons.Material.Filled.Edit" />

            </tr>
        }
    
</MudTable>



@code {
    private bool dense = false;
    private bool hover = true;
    private bool striped = false;
    private bool bordered = false;
    private string searchString = "";
    private StudentDTO selectedStudent = null;
    private IEnumerable<StudentDTO> Students = new List<StudentDTO>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Students = await studentService.GetAllStudent();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    private bool FilterFunc(StudentDTO student)
    {
        string search = searchString.ToLower();
        if (string.IsNullOrWhiteSpace(search))
            return true;
        if (student.FirstName.ToLower().Contains(search, StringComparison.OrdinalIgnoreCase))
            return true;
        if (student.LastName.ToLower().Contains(search))
            return true;
        if (student.Email.ToLower().Contains(search))
            return true;
        if (student.Phone.ToLower().Contains(search))
            return true;
        return false;
    }
}
